<h1>Create A New Song</h1>

<form method="POST" action="/songs">
  <label for="song_name">Name</label>
  <input id="song_name" type="text" name="song_name"><br>
  <label for="artist_name">Artist Name</label>
  <input id="artist_name" type="text" name="artist_name"><br>


  <%# My code %>

  <h3>Genres</h3>
  <% Genre.all.each do |genre| %>
  <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name.titleize %><br>
  <% end %>

  <p><input type="submit" value="Create"></p>
</form>