<h1>Welcome to our Artist/Song/Genres Home Page</h1>
<p><a href="/artists">Artists Page</a></p>
<p><a href="/songs">Songs Page</a></p>
<p><a href="/genres">Genres Page</a></p>
<p>To create a song click <a href="/songs/new">here</a></p>